<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dh.wolf.wolf_imageutil_lib" >

    <uses-sdk
        android:minSdkVersion="21"
        tools:ignore="GradleOverrides" />

    <application>
        <activity
            android:name=".WolfActivity"
            android:exported="true" />
    </application>

</manifest>